<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Reset Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div>
        <p>
            <img src="../../static/image.png" th:src="|cid:${imageResourceName}|" />
        </p>
        <h1 style="background-color:#a4c0f4;">Your have requested to reset your password. Please click on the below link to reset the password</h1>
    </div>
    <p Dear th:text="${name}">Customer Name</p>
    <p>

    </p>
    <p th:if="${name.length() gt 10}">
        Wow! You've got a long name (more than 10 chars)! <br />
    </p>
	<p>
		Regards, <br /> &emsp; <em>Nandha</em>
	</p>
	<div align="center">
	<h5>footer</h5>
</div>
    </body>
</html>