<section id="skills-section" class="skills-section section text-center">
    <h2 class="section-title">Professional Skills</h2>
    <div class="top-skills">
        <h3 class="subtitle">Top Skills</h3>
        <div class="row">
            <div class="item col-12 col-md-4">
                <div class="item-inner">
                    <h4 class="skill-name">Java</h4>
                    <div class="level">Expert, 3 years</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient 
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-12 col-md-4">
                <div class="item-inner">
                    <h4 class="skill-name">.NET</h4>
                    <div class="level">Expert, 8 years</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient 
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-12 col-md-4">
                <div class="item-inner">
                    <h4 class="skill-name">Angular &amp; Javascript</h4>
                    <div class="level">Expert, 5 years</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient 
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//top-skills-->
    
    <div class="other-skills">
        <h3 class="subtitle">Other Skills</h3>
        <div class="misc-skills">
            <span class="skill-tag">HTML5</span>
            <span class="skill-tag">CSS3</span>
            <span class="skill-tag">SASS</span>
            <span class="skill-tag">LESS</span>
            <span class="skill-tag">Git</span>
            <br>
            <span class="skill-tag">Ruby</span>
            <span class="skill-tag">PHP</span>
            <span class="skill-tag">Wireframe</span>
            <span class="skill-tag">Spanish</span>
            <span class="skill-tag">French</span>
        </div>
    </div><!--//other-skills-->
    
</section><!--//skills-section-->