<section id="education-section" class="education-section section">
    <h2 class="section-title">Education</h2>
    <div class="row">
        <div class="item col-12 col-md-12">
            <div class="item-inner">
                <h3 class="degree">B.E Computer Science</h3>
                <div class="education-body">
                    Bannari Amman Institute of Technology(Affiliated to Anna University)
                </div><!--//education-body-->
                <div class="time">2003 - 2007</div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient 
                </div>
            </div><!--//item-inner-->
        </div><!--//item-->       
    </div><!--//row-->
</section><!--//section-->