<section id="experiences-section" class="experiences-section section">
    <h2 class="section-title">Work Experiences</h2>
    <div class="timeline">
        <div class="item">
            <div class="work-place">
                <h3 class="place">Tavant Technologies</h3>
                <div class="location"><svg class="svg-inline--fa fa-map-marker-alt fa-w-12 mr-1" aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg><!-- <i class="fas fa-map-marker-alt mr-1"></i> -->Bangalore</div>
            </div>
            <div class="job-meta">
                <div class="title">Architect</div>
                <div class="time">2016 - Present</div>
            </div><!--//job-meta-->
            <div class="job-desc">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p> 
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Donec pede justo ante</li>
                    <li>Maecenas tempus tellus eget </li>
                </ul>
            </div><!--//job-desc-->
        </div><!--//item-->
        
        <div class="item">
            <div class="work-place">
                <h3 class="place">Evry India</h3>
                <div class="location"><svg class="svg-inline--fa fa-map-marker-alt fa-w-12 mr-1" aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg><!-- <i class="fas fa-map-marker-alt mr-1"></i> -->Bangalore</div>
            </div>
            <div class="job-meta">
                <div class="title">Project Lead</div>
                <div class="time">2012 - 2016</div>
            </div><!--//job-meta-->
            <div class="job-desc">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p> 
            </div><!--//job-desc-->
        </div><!--//item-->
        
        <div class="item">
            <div class="work-place">
                <h3 class="place">Business Intelligence Technologies</h3>
                <div class="location"><svg class="svg-inline--fa fa-map-marker-alt fa-w-12 mr-1" aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg><!-- <i class="fas fa-map-marker-alt mr-1"></i> -->Bangalore</div>
            </div>
            <div class="job-meta">
                <div class="title">Senior Software Engineer</div>
                <div class="time">2010 - 2012</div>
            </div><!--//job-meta-->
            <div class="job-desc">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p> 
            </div><!--//job-desc-->
        </div><!--//item-->
        
        <div class="item">
            <div class="work-place">
                <h3 class="place">Ngenia Labs</h3>
                <div class="location"><svg class="svg-inline--fa fa-map-marker-alt fa-w-12 mr-1" aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg><!-- <i class="fas fa-map-marker-alt mr-1"></i> -->Bangalore</div>
            </div>
            <div class="job-meta">
                <div class="title">Software Engineer</div>
                <div class="time">2008 - 2010</div>
            </div><!--//job-meta-->
            <div class="job-desc">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p> 
            </div><!--//job-desc-->
        </div><!--//item-->
        
    </div><!--//timeline-->
    
</section>