<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Accounts - Nandha</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/site.css}" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>

<body>
    <div class="box-form">
        <form id="signupForm" name="signupForm" autocomplete="off" th:action="@{/signup}" th:object="${user}"
            method="post" class="m-t" role="form">
            <div class="logo">
                <img src="/images/logo.png" alt="Avatar">
            </div>
            <h2>Create Account</h2>
            <p class="lead">It's free and hardly takes less than a minute.</p>

            <div th:if="${successMessage}" class="alert alert-success text-center" role="alert"
                th:text=${successMessage}></div>

            <div th:if="${#fields.hasAnyErrors()}"class="alert alert-danger text-center">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user" style="font-size: 2em"></i></span>
                    <input type="text" class="form-control" placeholder="Name" th:field="*{name}"
                        th:errorclass="has-error">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" id="email" class="form-control" placeholder="Email" th:field="*{email}"
                        th:errorclass="has-error">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}"
                        th:errorclass="has-error">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-lg">Sign Up</button>
            </div>
            <p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms
                    &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
            <div class="small text-center">Already have an account? <a href="/signin">Sign In</a>.</div>
        </form>
    </div>
</body>

<script th:inline="javascript">

    $(document).ready(function () {

        $('body').tooltip({
            selector: '.fa-tooltip'
        });
        var signupForm = $("#signupForm").validate({
            rules: {
                username: "required",
                email: {
                    required: true,
                    email: true
                },
                password: "required",
                confirm_password: {
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                username: "<i class='fa fa-times fa-tooltip' data-toggle='tooltip' data-placement='left' title='Please enter the Username'></i>",
                email: {
                    required: "<i class='fa fa-times fa-tooltip' data-toggle='tooltip' data-placement='left' title='Please enter the email'></i>",
                    email: "<i class='fa fa-times fa-tooltip' data-toggle='tooltip' data-placement='left' title='Please enter a valid email'></i>"
                },
                password: "<i class='fa fa-times fa-tooltip' data-toggle='tooltip' data-placement='left' title='Please enter the password'></i>",
                confirm_password: {
                    required: "<i class='fa fa-times fa-tooltip' data-toggle='tooltip' data-placement='left' title='Please enter the password'></i>",
                    equalTo: "<i class='fa fa-times fa-tooltip' data-toggle='tooltip' data-placement='left' title='Password and Confirm Password does not match'></i>"
                }
            },
            errorElement: "span",
            errorPlacement: function (error, element) {
                error.addClass("input-group-addon");
                error.insertAfter(element);
            },
            success: function (label) {
                if (!$(label).prev().hasClass("has-error")) {
                    label.addClass("input-group-addon").html("<i class='fa fa-check'></i>");
                }
                else {
                    $(label).prev().removeClass("has-error");
                }
            },
            submitHandler: function (form) {
                $(form)[0].submit();
            }
        });
    });

</script>

</html>